body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.input-area {
  background: black;
  /*color:rgb(0, 255, 149);*/
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  padding-top: 30px;
  width: 900px;
  height: 150px;
  border: 1px solid rgb(0, 255, 149);
  border-radius: 10px;
  box-shadow: rgba(0, 255, 149, 0.35) 0px 5px 15px;
  transition: 0.8s;
  

}

.input-area-input{
    width: 600px;
    height: 30px;
    border-color:cyan ;
    background-color: black;
    border-radius: 10px;
    color: cyan;
    font-size: 1rem;
}

.input-area-button{
  width: 80px;
  height: 30px;
  color: cyan;
  background-color: black;
  border-color: cyan;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 25px;
 font-family: monospace;

}
.todolist{
  text-align: start;
  list-style: decimal;
  list-style-position: inside;
  color: cyan;
  font-size: 1rem;  
}
.todolist>li{
  border: 2px solid cyan;
  margin-bottom: 15px;
  border-radius: 5px;
  padding-left: 5px;
}

.todolist>li>button{
  position: absolute;
  left: 1070px;
  background-color: black;
  width: 20px;
  height: 20px;
  
}
.todolist>li:hover{
  border: 3px solid cyan !important;
  background-color: rgb(20, 20, 20);
}